<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/a8b486fd44.js" crossorigin="anonymous"></script>

    <!-- Estilo customizado -->
    <link rel="stylesheet" type="text/css" href="css/estilo.css">

    <title>CheapShop</title>
  </head>
  <body>

    <header><!-- Inicio cabecalho -->
      <nav class="navbar navbar-expand-sm navbar-light bg-warning">

        <div class="container">
          
          <a href="index.html" class="navbar-brand">
            <img src="img/logo.png" width="142">
          </a>

          <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="nav-principal">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="#" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Resources</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Benefits</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">Prices</a>
              </li>
              <li class="nav-item">
                <form action="/logout?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-outline-light ml-4">Logout</button>
                </form>
              </li>
            </ul>
          </div>

        </div>
      </nav>
    </header><!-- fim cabecalho -->

    <section id="home"><!-- Inicio seçao home -->
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex"><!-- Textos da seçao -->
            <div class="align-self-center">
              <h1 class="display-4">Welcome to CheapShop App, <%= name %>!</h1>
              <p>
                Find the best deals on your favorite products and save money.
              </p>

              <form class="mt-4 mb-4">
                <div class="input-group input-group-lg">
                  <input type="text" placeholder="Search" class="form-control">
                  <div class="input-group-append">
                    <button type="button" class="btn btn-primary">
                      Search
                    </button>
                  </div>
                </div>
              </form>
              
              <p>Disponível para
                <a href="#" class="btn btn-outline-light">
                  <i class="fab fa-android fa-lg"></i>
                </a>
                <a href="#" class="btn btn-outline-light">
                  <i class="fab fa-apple"></i>
                </a>
              </p>
            </div>
          </div><!-- fim dos textos da seçao -->
          <div class="col-md-6 d-none d-md-block">
            <img src="img/capa-compras.png">
          </div>
        </div>
      </div>
    </section><!-- fim seçao home -->
    
    <section class="caixa"><!-- Inicio seçao saiba -->
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex">
            <div class="align-self-center">
              <h2>Learn how to save</h2>
              <p>
                With CheapShop, you compare all your purchases. With simple searches, you'll know where it will be the cheapest to buy.
              </p>
              <a href="#" class="btn btn-primary">See more</a>
            </div>
          </div>

          <div class="col-md-6">
            <img src="img/saiba.png" class="img-fluid">
          </div>
        </div>
      </div>
    </section><!-- fim seçao saiba -->

    <section class="caixa"><!-- Inicio seçao juros -->
      <div class="container">
        <div class="row">

          <div class="col-md-6">
            <img src="img/juros.png" class="img-fluid">
          </div>

          <div class="col-md-6 d-flex">
            <div class="align-self-center">
              <h2>Stop overpaying</h2>
              <p>
                Is paying the bills always a problem? CheapShop will help you choose the best way!
              </p>
              <a href="#" class="btn btn-primary">See more</a>
            </div>
          </div>

        </div>
      </div>
    </section><!-- fim seçao juros -->

    <section class="caixa"><!-- Inicio seçao recursos -->
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="img/facil.png" class="img-fluid">
            <h4>Easy to use</h4>
            <p>
              CheapShop goes beyond the basics and allows you to make incredible controls, essential for your savings. Simple as it has to be!
            </p>
          </div>
          <div class="col-md-4">
            <img src="img/economize.png" class="img-fluid">
            <h4>Save your time</h4>
            <p>
              Time is money! In seconds, you have everything under control and enjoy your time with what really matters to you!
            </p>
          </div>
          <div class="col-md-4">
            <img src="img/suporte.png" class="img-fluid">
            <h4>Friendly support</h4>
            <p>
              Questions? Our super cool support helps you! We are here to solve your problems and make your life easier!
            </p>
          </div>
        </div>
      </div>
    </section><!-- fim seçao recursos -->

    <footer class="mt-4 mb-4">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <p>
              <a href="">Home</a>
              <a href="">Resources</a>
              <a href="">Benefits</a>
              <a href="">Prices</a>
            </p>
          </div>
          <div class="col-md-4 d-flex justify-content-end">
            <a href="#" class="btn btn-outline-dark ml-2">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="btn btn-outline-dark ml-2">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="btn btn-outline-dark ml-2">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="btn btn-outline-dark ml-2">
              <i class="fab fa-youtube"></i>
            </a>
          </div>
        </div>
      </div>
    </footer>

    

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>