<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/a8b486fd44.js"
      crossorigin="anonymous"
    ></script>

    <!-- Estilo customizado -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/estilo.css" />

    <title>CheapShop</title>
  </head>
  <body>
    <header>
      <!-- Inicio cabecalho -->
      <nav class="navbar navbar-expand-sm navbar-light bg-warning">
        <div class="container">
          <a href="/" class="navbar-brand">
            <img src="/images/logo.png" width="170">
          </a>

          <button
            class="navbar-toggler"
            data-toggle="collapse"
            data-target="#nav-principal"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="nav-principal">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="/" class="nav-link">Início</a>
              </li>
              <li class="nav-item">
                <a href="/produtos" class="nav-link">Produtos</a>
              </li>
              <li class="nav-item">
                <a href="/listaCompras" class="nav-link">Lista de compras</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">Preços</a>
              </li>
              <li class="nav-item">
                <form action="/logout?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-outline-light ml-4">Terminar sessão</button>
                </form>
              </li>
            </ul>
          </div>
      </nav>
    </header>
    <!-- fim cabecalho -->

    <section id="home">
      <!-- Inicio seçao home -->
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex">
            <!-- Textos da seçao -->
            <div class="align-self-center">
              <h1 class="display-4">Bem vindo à CheapShop App, <%= name %>!</h1>
              <p>
                Encontra os melhores preços para os teus produtos favoritos e
                poupa dinheiro!
              </p>

              <form class="mt-4 mb-4">
                <div class="input-group input-group-lg">
                  <input
                    type="text"
                    placeholder="Search"
                    class="form-control"
                  />
                  <div class="input-group-append">
                    <button type="button" class="btn btn-primary">
                      Procurar
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- fim dos textos da secçao -->
          <div class="col-md-6 d-none d-md-block">
            <img src="/images/capa-compras.png" />
          </div>
        </div>
      </div>
    </section>
    <!-- fim seçao home -->

    <section class="caixa">
      <!-- Inicio seçao saiba -->
      <div class="container">
        <div class="row">
          <div class="col-md-6 d-flex">
            <div class="align-self-center">
              <h2>Aprende a poupar</h2>
              <p>
                Com a CheapShop, comparas todos as tuas compras. Com procuras
                simples, saberás onde será mais barato comprar.
              </p>
            </div>
          </div>

          <div class="col-md-6">
            <img src="/images/saiba.png" class="img-fluid" />
          </div>
        </div>
      </div>
    </section>
    <!-- fim seçao saiba -->

    <section class="caixa">
      <!-- Inicio seçao juros -->
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="/images/juros.png" class="img-fluid" />
          </div>

          <div class="col-md-6 d-flex">
            <div class="align-self-center">
              <h2>Para de pagar demais!</h2>
              <p>
                Pagar as contas é sempre um problema? A CheapShop ajuda-te a
                encontrar uma melhor maneira!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- fim seçao juros -->

    <section class="caixa">
      <!-- Inicio seçao recursos -->
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <img src="/images/facil.png" class="img-fluid" />
            <h4>Fácil de usar</h4>
            <p>
              A CheapShop permite que encontres o que procuras com poucos
              cliques, simples como deve ser!
            </p>
          </div>
          <div class="col-md-4">
            <img src="/images/relogio.png" class="img-fluid" />
            <h4>Poupa tempo</h4>
            <p>
              Tempo é dinheiro! Em segundos, tens tudo sob controlo e podes
              aproveitar o teu tempo para o que realmente importa para ti!
            </p>
          </div>
          <div class="col-md-4">
            <img src="/images/suporte.png" class="img-fluid" />
            <h4>Suporte amigável</h4>
            <p>
              Questões? O nosso suporte ajuda-te! Estamos aqui para resolver os
              teus problemas e tornar a tua vida mais fácil!
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- fim seçao recursos -->

    <footer class="mt-4 mb-4">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <p>
              <a href="/">Início</a>
              <a href="/produtos">Produtos</a>
              <a href="/listaCompras">Lista de compras</a>
              <a href="">Preços</a>
            </p>
          </div>
          <!--<div class="col-md-4 d-flex justify-content-end">
            <a href="#" class="btn btn-outline-dark ml-2">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="btn btn-outline-dark ml-2">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="btn btn-outline-dark ml-2">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="btn btn-outline-dark ml-2">
              <i class="fab fa-youtube"></i>
            </a>
          </div>-->
        </div>
      </div>
    </footer>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
